
{% extends 'usermenubase.html' %}

{% block contents %}
<div class="row">
    <div class="col"></div>
    <div class="col-12 col-xl-8 col-md-8">
        <div class="alert alert-primary" role="alert">
            모든 부분을 다 채워넣어주세요!!
        </div>
        <form action="" method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            <p>게시글 제목 : {{form.usermenucomment}}</p>
            <p>별점 : {{form.userstarcomment}}</p>
            <p>타이틀 {{form.title}} </p>
            <p>내용 {{form.body}} </p>
            
            <input type="submit" value="Upload" class="btn btn-primary">
        </form>
    </div>
    <div class="col"></div>
</div>




{% endblock%}