
{% extends 'goodmenubase.html' %}
{% block title %}album_list.html{% endblock %}
{% load staticfiles %}

{% block contents %}
    
<h1>굳메뉴 리스트  페이지 입니다.</h1>


<div class="container">
<div class="row">
    {% for goodmenu in object_list %}
    <div class="card"  style="margin: 1%; width: 23%;left:3% " >

        <div class="card-header">
            <h3 class="text-info">{{ goodmenu.title}}</h3>
           
        </div>
        <a href="{% url 'goodmenu:goodmenu_detail' goodmenu.id %}" class="card-link"><img class ="thumbnail" src="{{goodmenu.smallimg.thumb_url }}" width="100%"></a>
        <div class="p-0 card-body">
            <p class="card-text">{{ goodmenu.smallbody }}  </p>
        </div>
        <ul class="list-group list-group-flush">
                <li>
                    <a href="{% url 'goodmenu:like' goodmenu.id %}" class="float-left btn-like {%if user in goodmenu.like.all %} active {%endif%}">좋아요!</a>
                    {% if goodmenu.like.all.count %}
                    <span class = "float-left">
                        {{goodmenu.like.all.count}}
                    </span>
                    {% endif %}
                    <a href="{% url 'goodmenu:favorite' goodmenu.id %}" class="float-right btn-favorite {%if user in goodmenu.favorite.all %}active{%endif%}">저장하기!</a>
                    
                    </li>

            <li class="list-group-item">
                <small class="text-muted" style="float: left"><img src=" {{ goodmenu.goodstar.img.url }}" ></small>
                <small class="text-muted" style="float: right"><img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/67786290_2330946857126413_7937039867257552896_n.jpg?_nc_cat=104&_nc_oc=AQn-7TMkZg0I2NZCpvvA8J4CIzuD8PeSXIOftSsY8UyTNRX1IMrZByj_jHZ-mCfJ0Q0&_nc_ht=scontent-icn1-1.xx&oh=944d5969894ff020a2876c76779cfbc8&oe=5DDECB39" width="10">{{ goodmenu.hit }}</small> 
            </li>
        </ul>
        

    </div>
{% endfor %}

</div>

</div>
  {% endblock%}
